<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About</h2>
                <hr class="light">
                <p class="text-faded">Ludus Cybersecurity was born out of a desire to deliver a real impact to our client's security posture.  We focus on partnerships, and always keep our client's interests at heart.</p>
                <p class="text-faded">We provide no-nonsense security assessments based on the cold hard evidence that comes from the exploitation of systems. Our advice is grounded in decades of experience working in deeply technical cybersecurity roles.</p>
            </div>
        </div>
    </div>
</section>
