<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p class="text-faded">We use Google forms to take details. If you wish to discuss something sensitive, let us know and we can make alternative arrangements.</p>
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeow0Nd_aM1lytF9-KqhU61UFGvi8_lvIX5_BczHaI4PXTBmQ/viewform?embedded=true" width="640" height="891" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
            </div>

    </div>
</section>
